<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco GKM - Contato</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Banco GKM </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="/">Página Inicial</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/valuation">Avaliação de Salário</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/loan">Empréstimos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/contato">Contato</a>
              </li>
            
          </ul>
      </div>
  </nav>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center mb-4">Entre em Contato</h2>
                <div class="card">
                    <img src="https://media-gru2-2.cdn.whatsapp.net/v/t61.24694-24/380055396_236737852327958_5242859245141910817_n.jpg?ccb=11-4&oh=01_AdTs0ag-b8A3YPqZtcygwM0kvMueD26vqr-VU0FFKntxQw&oe=654C29CA&_nc_sid=000000&_nc_cat=105" class="card-img-top rounded-circle" alt="Foto" style="width: 200px; height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">Gleicy Korc Monassa</h5>
                        <p class="card-text">Desenvolvedora Web</p>
                        <a href="https://www.linkedin.com/in/gleicy-korc-6b062010/" class="btn btn-primary">LinkedIn</a>
                        <a href="https://github.com/gleicykorc" class="btn btn-secondary">GitHub</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
