<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco GKM - Empréstimos e Avaliação de Salário</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Banco GKM </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Página Inicial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/valuation">Avaliação de Salário</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/loan">Empréstimos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contato">Contato</a>
                </li>            
            </ul>
        </div>
    </nav>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Bem-vindo ao Banco GKM</h1>
            <p class="lead">Realize seus sonhos com nossos serviços de empréstimos e faça uma avaliação de salário conosco.</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
          <div class="col-md-6">
              <div class="card mb-3">
                  <img src="https://images.unsplash.com/photo-1639189702833-8de5ecf2ca8f?ixid=M3wzOTE5Mjl8MHwxfHNlYXJjaHwzfHxzZXJ2aWNlcyUyQyUyQmluY29tZXxlbnwwfHx8fDE2OTg2MjQxNzB8MA&amp;ixlib=rb-4.0.3&amp;auto=format&amp;fit=clip&amp;w=1920&amp;q=100" class="card-img-top" alt="Imagem de Avaliação de Salário">
                  <div class="card-body">
                      <h5 class="card-title">Avaliação de Salário</h5>
                      <p class="card-text">Descubra o quanto você pode obter de empréstimo com base no seu salário
                          atual. Utilize nossa ferramenta de avaliação para saber mais.</p>
                      <a href="/valuation" class="btn btn-primary">Saiba Mais</a>
                  </div>
              </div>
          </div>
            <div class="col-md-6">
                <div class="card mb-3">
                    <img src="https://images.unsplash.com/photo-1444653614773-995cb1ef9efa?ixid=M3wzOTE5Mjl8MHwxfHNlYXJjaHwyfHxmaW5hbmNpYWwlMkMlMkJpbmNvbWV8ZW58MHx8fHwxNjk4NjI0MTcwfDA&amp;ixlib=rb-4.0.3&amp;auto=format&amp;fit=clip&amp;w=1920&amp;q=100" class="card-img-top" alt="Imagem de Empréstimo">
                    <div class="card-body">
                        <h5 class="card-title">Empréstimos</h5>
                        <p class="card-text">Oferecemos empréstimos com as melhores taxas do mercado. Saiba mais sobre
                            como podemos ajudá-lo a alcançar seus objetivos financeiros.</p>
                        <a href="/loan" class="btn btn-primary">Saiba Mais</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
